<h2>Stock Information: <%= @company %></h2>
	<ul>
		<li>Symbol: <%= @symbol %></li>
		<li>Exchange: <%= @exchange %></li>
		<li>Volume: <%= @volume %></li>
		<li>Price: $<%= @price %></li>
		<li>52 Week High: $<%= @high %></li>
		<li>52 Week Low: $<%= @low %></li>
	</ul>


<h2>Recent Tweets About <%= @company %></h2>
	<ul>
		<% @tweets.each do |tweet| %>
		<li><%= tweet %></li>
		<% end %>
	</ul>