
<div id="header">
	<h1> Stock info for:</h1>
	<h2 id="company"><%= @company %></h2>
</div>

<ul>
	<% @recent_tweets.each do |tweet| %>
	<li><%= tweet %></li>
	<% end %>
</ul>

<div>
	<h3>Last reported price:</h3>
	<p><%= @stock_last %></p>
	<h3>Price at yesterday's close:</h3>
	<p><%= @daily_close %></p>
	<h3>Price at today's open:</h3>
	<p><%= @daily_open %></p>
	<h3>Stock high for the day:</h3>
	<p><%= @high %></p>
</div>
